<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeLabel" translate="hrApp.employee.home.createOrEditLabel">Create or edit a
            Employee</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="employee.id" readonly>
        </div>

        <div class="form-group">
            <label translate="hrApp.employee.firstName" for="field_firstName">FirstName</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                   ng-model="employee.firstName"
                >

        </div>
        <div class="form-group">
            <label translate="hrApp.employee.lastName" for="field_lastName">LastName</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                   ng-model="employee.lastName"
                >

        </div>
        <div class="form-group">
            <label translate="hrApp.employee.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                   ng-model="employee.email"
                >

        </div>
        <div class="form-group">
            <label translate="hrApp.employee.phoneNumber" for="field_phoneNumber">PhoneNumber</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                   ng-model="employee.phoneNumber"
                >

        </div>
        <div class="form-group">
            <label translate="hrApp.employee.hireDate" for="field_hireDate">HireDate</label>
            <input type="datetime-local" class="form-control" name="hireDate" id="field_hireDate"
                   ng-model="employee.hireDate" ng-model-options="{timezone: 'UTC'}"
                >

        </div>
        <div class="form-group">
            <label translate="hrApp.employee.salary" for="field_salary">Salary</label>
            <input type="number" class="form-control" name="salary" id="field_salary"
                   ng-model="employee.salary"
                >

        </div>
        <div class="form-group">
            <label translate="hrApp.employee.comissionPct" for="field_comissionPct">ComissionPct</label>
            <input type="number" class="form-control" name="comissionPct" id="field_comissionPct"
                   ng-model="employee.comissionPct"
                >

        </div>

        <div class="form-group">
            <label translate="hrApp.employee.department" for="field_department">department</label>
            <select class="form-control" id="field_department" name="department" ng-model="employee.department.id"
                    ng-options="department.id as department.id for department in departments">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
